﻿@*@{ var usuario = (User)Model; }*@

<head>
    <title>Crear Cuenta</title>

    <!--JQUERY-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <!--<link rel="stylesheet" type="text/css" href="/css/Login.css">
    <link href="/css/Log.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />-->
    <link href="/css/Registar.css" rel="stylesheet" />
    
</head>
<body>
    <img src="/css/Imagenes/RE.jpg" alt="Alternate Text" />
    <header class="site-header">
        <div class="">
            <div class="contenido-header">
                <nav class="redes-sociales">
                    <a href="/Home">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                           
                        </svg>
                    </a>
                </nav>
            </div>

            <div class="modal-dialog text-center">
                <div class="col-sm-8 main-section">
                    <div class="modal-content">
                        <div class="col-12 user-img">
                            <img src="/img/user.png" />
                        </div>
                        <form action="/auth/registrar" class="col-12" method="post">

                            <div class="form-group" id="user-group">
                                <input type="text" class="form-control" placeholder="Nombre y Apellido" name="NomApe" />
                                <p class="text-white">@Html.ValidationMessage("NomApe")</p>
                            </div>

                            <div class="form-group" id="user-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" />
                                <p class="text-white">@Html.ValidationMessage("Email")</p>
                            </div>

                            <div class="form-group" id="user-group">
                                <input type="text" class="form-control" placeholder="Nombre de Usuario" name="Username" />
                                <p class="text-white">@Html.ValidationMessage("Username")</p>
                            </div>

                            <div class="form-group" id="contrasena-group">
                                <input type="password" class="form-control" placeholder="Contraseña" name="password" />
                                <p class="text-white">@Html.ValidationMessage("password")</p>
                            </div>

                            <div class="form-group" id="contrasena-group">
                                <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="passwordConf" />
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Registrar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>


