﻿@{ ViewData["Title"] = "Detalle de curso"; }

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image Slider | With Manual Buttons and Autoplay Navigation Visibility</title>
    <link href="/css/Detalle.css" rel="stylesheet" />
</head>
<body>
    <h1>@Model.Curso.Titulo</h1>
    <div class="img-slider">
        <div class="slide active">
            <img src="@Model.Curso.Caratula" alt="">
            <div class="info">
                @foreach (var profesor in Model.Profesores)
                {
    <h2> @profesor.Profesion  @profesor.Nombre   </h2>}

                <p>@Model.Curso.Descripcion</p>
            </div>
        </div>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
        <a href="/Cursos/Matricular?id=@Model.Curso.Id" class="btn btn-primary btn-block btn-custom">INCRIBIRME </a>}
    </div>
</body>