﻿<h1>
    @Model.Curso.Titulo
</h1>

<h3>CAPITULOS : </h3>

@foreach (var item in Model.Cursos){
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Capitulo 1 </h5>
            <a href="#" class="card-link">Dislike</a>
        </div>
    </div>

}
