﻿@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

    .section-main h1 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 80px;
    }

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}

    header.sticky {
        background: #1483D5;
        padding: 15px 100px;
    }

    header .brand {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
    }

    header .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        header .menu a {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            margin: 0 30px;
            padding: 0 10px;
            border-radius: 20px;
            transition: 0.3s;
            transition-property: color, background;
        }

            header .menu a:hover {
                color: #000;
                background: #fff;
            }

    header .btn {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        display: none;
    }

.section-two {
    min-height: 100vh;
    background: #001018;
    padding: 20px 100px;
}

    .section-two h2 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0;
    }

    .section-two p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        margin: 30px 0;
    }

@media (max-width: 1060px) {
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background: #1483D5;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

        header .menu.active {
            right: 0;
        }

        header .menu .close-btn {
            position: absolute;
            top: 0;
            left: 0;
            margin: 25px;
        }

        header .menu a {
            display: block;
            font-size: 20px;
            margin: 20px;
            padding: 0 15px;
        }
}

@media (max-width: 630px) {
    .section-main h1 {
        font-size: 50px;
        line-height: 60px;
    }
}


/*inicio de strellas*/

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}

.night {
    position: absolute; /* position: relative; */
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
}

.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4px;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

.star::before, .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

    .star:nth-child(1)::before, .star:nth-child(1)::after {
        animation-delay: 1s;
    }

.star:nth-child(2) {
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
}

    .star:nth-child(2)::before, .star:nth-child(2)::after {
        animation-delay: 1.2s;
    }

.star:nth-child(3) {
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
}

    .star:nth-child(3)::before, .star:nth-child(3)::after {
        animation-delay: 1.4s;
    }

.star:nth-child(4) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
}

    .star:nth-child(4)::before, .star:nth-child(4)::after {
        animation-delay: 1.6s;
    }

.star:nth-child(5) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
}

    .star:nth-child(5)::before, .star:nth-child(5)::after {
        animation-delay: 1.8s;
    }
/*Lista dinamica*/

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

    .slides input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

    .slide img {
        width: 800px;
        height: 500px;
    }

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background: #40D3DC;
    }


#radio1:checked ~ .first {
    color:aliceblue;
}
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

    .navigation-auto div {
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

        .navigation-auto div:not(:last-child) {
            margin-right: 40px;
        }

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40D3DC;
}
